@page
@model IndexModel
@{
    ViewData["Title"] = "Restaurantele";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Delicious! </h1>
    <p>Make your reservations easily!</p>
</div>
<div class="text-center">
    <img src="/food1.jpg" alt="food" style="max-width: 100%; height: auto;" /> 
</div>